.footer {
  background-color: #2f303a;
  padding: 60px 0;
}
.footer__box {
  @media (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}
.footer__container {
  @media (min-width: 768px) {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    margin-bottom: 60px;
  }
  @media (min-width: 1200px) {
    margin-bottom: 0;
  }
}
.footer__address {
  text-align: center;
  margin-bottom: 60px;

  @media (min-width: 768px) {
    margin-bottom: 0;
  }

  @media (min-width: 1200px) {
    margin-right: 70px;
    text-align: left;
  }
}
.footer__logo {
  display: block;
  padding: 0;
  margin-bottom: 20px;
  color: var(--other-title-color);

  @media (max-width: 1199px) {
    text-align: center;
  }

  &:focus {
    color: var(--accent-color);
  }
}

.footer__contacts {
  font-style: normal;

  @media (min-width: 1200px) {
    width: 231px;
  }
}
.footer__contacts--list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.contacts__link--footer {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  @media (max-width: 1199px) {
    text-align: center;
  }
  &:focus,
  &:hover {
    color: var(--accent-color);
  }
}
.footer-map {
  margin-bottom: 8px;
  color: #ffffff;
  @media (min-width: 1200px) {
    margin-bottom: 9px;
  }
}
.footer-mail {
  margin-bottom: 8px;

  @media (min-width: 1200px) {
    margin-bottom: 9px;
  }
}

/* FOOTER SOCIAL */
.footer__social {
  margin-bottom: 60px;

  @media (min-width: 768px) {
    margin-bottom: 0;
  }
  @media (min-width: 1200px) {
    margin-right: 93px;
  }
}
.social__title {
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--other-title-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  @media (max-width: 1199px) {
    text-align: center;
  }
}

.footer__link {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
}
/* FOOTER INPUT */
.footer__form--label {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.172;
  letter-spacing: 0.03em;
  text-align: start;
  text-transform: uppercase;
  color: inherit;
  color: #fff;
  margin-bottom: 20px;
  display: block;

  @media (max-width: 1199px) {
    text-align: center;
  }
}
.footer__form--wrapper {
  @media (min-width: 768px) {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }
  @media (min-width: 1200px) {
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 12px;
  }
}
.footer__input {
  max-width: 450px;
  width: 100%;
  letter-spacing: 0.03em;
  padding: 15px 15px;
  color: var(--other-title-color);
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;

  @media (max-width: 767px) {
    margin-bottom: 20px;
  }
  @media (min-width: 1200px) {
    width: 358px;
    margin-bottom: 0;
  }

  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.footer__button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  padding: 0;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--other-title-color);
  background: var(--accent-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  border: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: #188ce8;
  }
}
.subscribe-icon {
  fill: var(--other-title-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
