.header {
  border-bottom: 1px solid #ececec;
}
.header__container {
  display: flex;
  align-items: center;
  height: 79px;
}

.header__nav {
  margin-left: 93px;
}

.header__list {
  display: flex;
}
.header__item:not(:first-child) {
  padding-left: 50px;
}
.header__link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--main-title-text-color);
  text-decoration: none;
  transition: var(--transition-duration) var(--transition-timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.header__link--current {
  color: var(--accent-color);
  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: 0;
    background-color: var(--accent-color);
    border-radius: 2px;
  }
}

.header__contact {
  display: flex;
  margin-left: auto;
  gap: 30px;
  align-items: center;
}
.header__connection {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primary-text-color);
  transition: var(--transition-duration) var(--transition-timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.header__icon {
  margin-right: 10px;
  fill: currentColor;
}
