.filter {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.filter__button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  background: var(--card-background-color);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: var(--transition-duration) var(--transition-timing-function);

  &:hover {
    color: var(--other-title-color);
    background: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
  &:focus {
    color: var(--other-title-color);
    background-color: var(--accent-color);
  }
}
