body {
  font-family: var(--font-family);
  color: var(--main-title-text-color);
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.section {
  padding: 94px 0px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
