:root {
  --main-title-text-color: #212121;
  --other-title-color: #ffffff;
  --primary-text-color: #757575;
  --accent-color: #2196f3;
  --background-color: #c4c4c4;
  --button-background-color: #2a86d1;
  --card-background-color: #f5f4fa;
  --icon-color: #afb1b8;
  --font-family: "Roboto", sans-serif;
  --other-font-family: "Raleway";
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
